@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import "bootstrap";

* {
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #12181B;
}